// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*= require social-share-button
*/

.social-share-button {
  .ssb-icon {
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
  }
}