// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*= require social-share-button
*/

.social-share-button {
  .ssb-icon {
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
  }
}

.container-fluid {
  background-color:white;

}

.btn-lg {
  background-color: white;
}

.jumbotron {
  padding-top: 5px;
  background-color: white;
}

h1 { 
text-align: center;
}

h2 { 
text-align: center;
}

h3 { 
text-align: center;
}

h4 { 
text-align: center;
}

.table {
  background-color: rgba(255, 255, 255, 0.4)
}

.whole-page {
  background-color:  white;
}

.header {
  background-color:  #FFC107;
}

.content {
  background-color: white;
}

.title-box {
  background-color: pink;
  padding-bottom: 90px;

}

.navbar-header {
  display: inline-block;

}

.image {
  content:url(https://preview.ibb.co/m67rQQ/eau_de_parfum.jpg);
  margin: auto;
}

.btn {
  border-radius: 0px !important;
  padding-bottom: 5px;
}

#sign-out-link {
  border: 0px;
}
