// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*= require social-share-button
*/

.social-share-button {
  .ssb-icon {
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
  }
}

.btn-lg {
  background-color: lightblue;
}

.jumbotron {
  background-color: lightblue;
}

h1 { 
text-align: center;
}

h2 { 
text-align: center;
}

h3 { 
text-align: center;
}